@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

@layer utilities {
    .text-shadow-lg {
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ajusta los valores para cambiar la sombra */
    }
  }
  


.card-shadow {
  box-shadow: 50px 30px 50px rgba(0, 0, 0, 0.8);
}

.custom-image-size {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen mantenga su aspecto y rellene el contenedor */
  display: block; /* Evita que la imagen sea tratada como un elemento inline */
}


